In [13]:
# Import key librarys
import pandas as pd
import numpy as np
import os
import glob

In [14]:
# use glob to get all the csv files in the folder
path = './highland_primary/'
csv_files = glob.glob(os.path.join(path, "*.csv"))

# Create list for all dfs
frames = []

for f in csv_files:
    
    wdf = pd.read_csv(f)
    
    frames.append(wdf)

In [15]:
wdf.head()

,year,seed_code,la_code,la_name,school_name,school_type,measure_category,measure,value,chart_label
0,2021,5139023,270,Highland,Foyers Primary School,Primary,trend,Pupil Numbers,7,NaN
1,2021,5139023,270,Highland,Foyers Primary School,Primary,trend,Teacher Numbers (FTE),1.6,NaN
2,2021,5139023,270,Highland,Foyers Primary School,Primary,trend,Pupil Teacher Ratio,4.4,NaN
3,2021,5139023,270,Highland,Foyers Primary School,Primary,trend,Average Class,7,NaN
4,2022,5139023,270,Highland,Foyers Primary School,Primary,trend,Pupil Numbers,5,NaN

In [16]:
## Concat all together long format dfs into final df
ldf = pd.concat(frames)

In [17]:
# Rename percentage categories so that they are numbers
ldf['value'] = ldf['value'].replace(
    {'0-10%':'5%',
     '10-20%':'15%',
     '20-30%':'25%',
     '30-40%':'35%',
     '40-50%':'45%',
     '50-60%':'55%',
     '60-70%':'65%',
     '70-80%':'75%',
     '80-90%':'85%',
     '90-100%':'95%',
    })

# Rename school names
ldf['school_name'] = ldf['school_name'].replace(
    {'Bun-Sgoil Ghàidhlig Phort Rìgh':'Bun-sgoil Ghaidhlig Phort Righ',
     'Bun-sgoil Ghaidhlig Inbhir Nis':'Bun-sgoil Ghaidhlig Inbhir Nis',
     'Bun-Sgoil Shleite':'Bun-sgoil Shleite',
     'Bun-sgoil Ghàidhlig Loch Abar':'Bun-sgoil Ghaidhlig Loch Abar',
    })

# Drop duplicates
ldf = ldf.drop_duplicates()

In [18]:
ldf.to_csv('highland_primary.csv')